* {
    margin: 0;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');


/* Nav bar */

nav {
    background-color: #2f49cf;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
}

profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

profile img {
    background-size: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

profile h1 {
    align-self: center;
    color: white;
    margin-top: 20px;
}

searchbar input {
    background-color: #576cd9;
    color: white;
    border: 0;
    border-radius: 10px;
    height: 40px;
    width: 14vw;
    padding: 0 1vw;
}

searchbar input:focus {
    outline: none;
}

searchbar input:focus::placeholder {
    color: transparent;
}

searchbar input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

#navList {
    list-style-type: none;
    padding-inline-start: 0;
}

#navList li {
    margin: 10px 0;
    border-radius: 10px;
    padding: 0 1vw;
    line-height: 40px;
    height: 40px;
    width: 14vw;
    user-select: none;
    cursor: pointer;
}

.unselected:hover {
    background-color: #526cf0;
}

.selectedItem {
    background-color: #192b80;
    color: white;
}

.selectedItem:hover {
    background-color: #192b80;
}


/* Objects in main */

.dashObject {
    position: relative;
    top: 100px;
    left: 100px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#barName {
    color: #CF4459;
    margin: 1vh 0 0 2vw;
    font-family: 'Style Script', cursive;
    font-size: 3em;
}

#titleName {
    color: #576cd9;
    margin: 1vh 0 0 2vw;
    font-size: 2em;
}


@media only screen and (min-width: 900px) {
    body {
        display: flex;
        height: 100vh;
    }
    nav {
        flex-direction: column;
        width: 20vw;
    }
    main {
        width: 80vw;
    }
    .navItem {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 899px) {
    profile {
        flex-direction: column;
    }
}